body {
background-color: black;
color: white;
}

h1 {
color: white;
font-size: 30px;
 text-align: center; 
}

h2 {
 color: white;
 font-size: 25px;
 border-style: double;
}
 
p {
color: green;
font-size: 20px;
background-color: light-gray;
border-style: rounded;
border-width: 5px; 
}

ol {
list-style-type: upper-latin;
color: white;
}


ul {
list-style-type: square;
color: white;
}
