body {
  background-color:black;
  color: white;
}

h1 {
  color: white;
  font-size: 20px;
}

p {
  color: green;
  font-size: 12px;
}
    ol{
      list-style-type: upper-latin;
      color: white;
    }
    
   ul{
     list-style-type: square;
     color: white;
    }
    
   
