body {
background-color: gray;
color: black;
}

h1 {
color: white;
font-size: 30px;
}

p {
color: green;
font-size: 20px;
}

ol {
list-style-type: upper-latin;
color: white;
}


ul {
list-style-type: square;
color: white;
}
