body {
background-color: grey;
color: white;
}

p  {
 background-color: white;
}

h1 {
color: white;
font-size: 30px;
 text-align: center; 
}

h2 {
 color: white;
 font-size: 25px;
 border-style: double;
}
 
p {
color: green;
font-size: 20px;
}

p {
 border: 2px solid black;
 border-radius: 12px;
 padding: 5px;
 margin: 75px 50px 70px;
}

ol {
list-style-type: upper-latin;
color: white;
}


ul {
list-style-type: square;
color: white;
}
