body {
  background-color: black;
}
h1{
  color: white;
}
p {
  color: white;
  {
    
    ol.a{
      list-style-type:decimal;
    }
  background-color:black,color: white;
    }
    
  ul.a{
    list-style-type;disc;}
      background-color:black,color:white;
    }
}
body
