body {
  background-color:black;
}
h1{
  color: white;
}
p{
  color: white;
}
    ol {
      list-style-type: upper-alpfa;color: white;background:black;
    }
    
   ul {
     list-style-type: square;color: white;blackground: black;
    }
    
   
